In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('customer.csv')

In [8]:
df.sample(5)

    age  gender   review education purchased
4    16  Female  Average        UG        No
35   74    Male     Poor    School       Yes
0    30  Female  Average    School        No
3    72  Female     Good        PG        No
27   69  Female     Poor        PG        No

In [10]:
# We can only do Oridinal Encoding on Oridinal Categorical Data
# In the above table Ordinal Categorical Data is only Column "review" and "Education"
# Our Dependant Variable Column (Y) is a categorical data as well so for that we will be using "Label Encoding"

In [12]:
df = df.iloc[:,2:]

In [14]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [28]:
X= df[['review','education']]

In [30]:
X.head()

    review education
0  Average    School
1     Poor        UG
2     Good        PG
3     Good        PG
4  Average        UG

In [32]:
Y = df['purchased']

In [34]:
Y

0      No
1      No
2      No
3      No
4      No
5     Yes
6      No
7     Yes
8      No
9     Yes
10    Yes
11    Yes
12     No
13     No
14    Yes
15     No
16    Yes
17    Yes
18     No
19    Yes
20    Yes
21     No
22    Yes
23     No
24    Yes
25     No
26     No
27     No
28     No
29    Yes
30     No
31    Yes
32    Yes
33    Yes
34     No
35    Yes
36    Yes
37    Yes
38     No
39     No
40     No
41    Yes
42    Yes
43     No
44     No
45    Yes
46     No
47    Yes
48    Yes
49     No
Name: purchased, dtype: object

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.2)

In [40]:
X_train.head()

   review education
12   Poor    School
23   Good    School
46   Poor        PG
27   Poor        PG
36   Good        UG

In [42]:
y_train.head()

12     No
23     No
46     No
27     No
36    Yes
Name: purchased, dtype: object

In [44]:
from sklearn.preprocessing import OrdinalEncoder

In [48]:
oe = OrdinalEncoder(categories = [['Poor', 'Average', 'Good'] , ['School', 'UG', 'PG']])

In [50]:
X_train_oe = oe.fit_transform(X_train)
X_test_oe = oe.transform(X_test)

In [54]:
X_train_oe

array([[0., 0.],
       [2., 0.],
       [0., 2.],
       [0., 2.],
       [2., 1.],
       [1., 1.],
       [0., 0.],
       [0., 0.],
       [2., 0.],
       [0., 0.],
       [1., 0.],
       [2., 2.],
       [2., 0.],
       [2., 0.],
       [2., 0.],
       [0., 1.],
       [0., 2.],
       [1., 1.],
       [0., 1.],
       [2., 1.],
       [2., 2.],
       [1., 0.],
       [1., 1.],
       [1., 2.],
       [0., 2.],
       [2., 1.],
       [0., 2.],
       [0., 2.],
       [2., 2.],
       [1., 0.],
       [0., 1.],
       [0., 0.],
       [1., 0.],
       [2., 1.],
       [0., 2.],
       [1., 2.],
       [2., 0.],
       [2., 1.],
       [1., 1.],
       [1., 0.]])

In [56]:
# Similarly we will perform Label Encoding on the Target Variable Y

In [58]:
from sklearn.preprocessing import LabelEncoder

In [60]:
le = LabelEncoder()

In [62]:
y_train_le = le.fit_transform(y_train)
y_test_le = le.transform(y_test)

In [64]:
y_train_le

array([0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1])

In [66]:
y_train

12     No
23     No
46     No
27     No
36    Yes
30     No
35    Yes
31    Yes
25     No
28     No
13     No
47    Yes
38     No
40     No
18     No
15     No
26     No
29    Yes
1      No
10    Yes
3      No
0      No
8      No
21     No
22    Yes
11    Yes
45    Yes
14    Yes
33    Yes
20    Yes
16    Yes
7     Yes
34     No
49     No
43     No
24    Yes
6      No
9     Yes
4      No
5     Yes
Name: purchased, dtype: object